header#hero.hero
  .hero-inner  
    h1.animate-normal Hero Title
    h2.animate-delay Marley was dead: to begin with. There is no doubt whatever about that.
    
header.hero.section-a
  .hero-inner  
    h1.hero-title Hero Title
    h2.hero-subtitle Marley was dead: to begin with. There is no doubt whatever about that.
    
header.hero.section-b
  .hero-inner  
    h1.hero-title Hero Title
    h2.hero-subtitle Marley was dead: to begin with. There is no doubt whatever about that.
    
header.hero.section-c
  .hero-inner  
    h1.hero-title Hero Title
    h2.hero-subtitle Marley was dead: to begin with. There is no doubt whatever about that.