html, body {margin:0; padding: 0; width: 100%;}
#promo-notifications{
	background: #F4A8BE;
	font-size: 18px;
  width: 100%;
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

#promo-notifications ul{
	width: 100%;
	height: 35px;
	position: relative;
	overflow: hidden;
}

#promo-notifications li{
	width: 980px;
	line-height: 35px;
  height: 35px;
	position: absolute;
	top: 0;
	left: 100%;
	text-align: center;
	list-style: none;
}