html, body{
    
    margin: 0;
    padding: 0;

}

body {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width:100vw;

}

header{

    display: flex;
    align-items: center;
    width:90%;

}

nav {

    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:70px;
    position: fixed; 
    height: 100px;
    position: relative;
    overflow: hidden;
    padding:0;
    margin:0;

}

nav ul {

    flex-direction: row;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:70px;
    list-style: none;
    list-style-type: none;

}

nav ul a {

    color: black;
    text-decoration: none;
    font-size: 3vw;

}

.iconcartbox {

    position:absolute;
    top:35px;
    right:35px;

}

.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

svg{
    width: 30px;
}

.listProduct {

    width:95%;

}

.hover-image {

    display: none;

}

.item:hover .original-image {

    display: none;

}

.item:hover .hover-image {

    display: flex;

}

.sizes {

    display:none;

}



.item:hover .sizes {

    display:flex;

}

.item:hover .details {

    display:none;

}

.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 100%;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{

    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}